* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; //defaultno je 100%
  /* font: inherit; */
  vertical-align: baseline;
}

input,
button {
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; //1rem = 10px, 10px/16px = 62.5%

  //Definition of default font sizes for different screen sizes

  /* @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem = 8px/16px = 50%
  } */

  /*  >600 */
  @include respond(phone) {
    font-size: 120%; // 1.2rem = x/16px = 120%
  }

  /*  >900 */
  @include respond(tab-port) {
    font-size: 140%; // 1.4rem = x/16px = 140%
  }

  /* >1200 */
  @include respond(tab-land) {
    font-size: 160%; // 1.6rem = x/16px = 160%
  }

  /*  >1800 */
  @include respond(big-desktop) {
    font-size: 180%; // 1.8rem = x/16px = 180%
  }
}
